version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            uv venv --python 3.12 /usr/local/share/virtualenvs/tap-gitlab
            source /usr/local/share/virtualenvs/tap-gitlab/bin/activate
            uv pip install -U setuptools
            uv pip install .
      - run:
          name: "JSON Validator"
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            stitch-validate-json tap_gitlab/schemas/*.json
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-gitlab/bin/activate
            uv pip install pylint
            pylint tap_gitlab -d C,R,W
      - run:
          name: "Unit Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-gitlab/bin/activate
            uv pip install pytest coverage parameterized
            coverage run -m pytest tests/unittests
            coverage html
          when: always
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - run:
          name: "Integration Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            run-test --tap=tap-gitlab tests


workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
