version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-gitlab
            source /usr/local/share/virtualenvs/tap-gitlab/bin/activate
            uv pip install .
            uv pip install pylint
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-gitlab/bin/activate
            pylint tap_outbrain -d C,R,W

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context:
            - circleci-user
